@import './global.scss';
@import './mixins.scss';
@import './variables.scss';


.welcome-text {
    margin: 1em;
    font-size: 1rem;

    @include respond-to("small") {
      margin: 2em 12%;
      font-size: 2rem;
    }
}

.container {
    font-weight: bold;
    padding-top: 2em;
}